//fonts
$font-primary: 'Rubik', sans-serif;
$font-secondary: 'Bad Script', cursive;

//colors
$orange-500: #F08626;
$orange-300: #FFA451;
$blue-500: #27214D;
$blue-100: #5D577E;
$gray-400: #86869E;
$gray-500: #F5F5F5;
$gray-600: #B4B4C0;