@import '../variables';

.welcome{
  margin: 1.5rem 0 2rem 0;
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  gap: 1rem;
  align-items: center;
  span{
    font-weight: 300;
    color: $blue-500;
  }
}

.search{
  display: grid;
  grid-template-columns: 7fr 1fr;
  gap: .25rem;
  margin-bottom: 1.125rem;
  .form-search{
    display: flex;
    align-items: center;
    padding: 1.25rem 1.5rem;
    gap: 1rem;
    background: $gray-500;
    border-radius: 16px;
    span{
      color: $gray-400;
    }
    input{
      background: transparent;
      border: none;
      outline: none;
      color: $gray-600;
      font-size: .75rem;
    }
  }
  button{
    border: none;
    outline: none;
    background: #F7F7FC;
    border-radius: 10px;
  }
}

.food-types{
  margin-bottom: 2.5rem;
  ul{
    display: flex;
    gap: .5rem;
    li{
      padding: .5rem 1rem;
      box-shadow: 0px 2px 1px #00000005, 0px 0px 1px #00000025;
      border-radius: 10px;
      font-size: .875rem;
      color: $black-100;
      &.fit{
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 530px) {
  .food-types{
    ul{
      li.fit{
          display: block;
        }
    }
  }
}

.combos{
  margin-bottom: 2.5rem;
  h5{
    padding-bottom: .475rem;
    margin-bottom: 1rem;
    color: $blue-500;
    font-weight: 300;
    &:after{
      @include detail-title(54px);
    }
  }
  .combo-items{
    display: flex;
    gap: 1.5rem;
    @include list-foods(1.25rem, .8125rem);
  }
}

.other-foods{
  ul{
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    li{
      font-weight: 300;
      &.item{
        color: $blue-100;
        opacity: .4;
      }
      &.special{
        color: $blue-500;
        opacity: 1;
        &:after{
          @include detail-title(35px);
        }
      }
    }
  }
  .foods{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: baseline;
    @include list-foods(1.25rem, .8125rem);
  }
}