@import '../variables';

.welcome{
  margin: 1.5rem 0 2rem 0;
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  gap: 1rem;
  align-items: center;
  span{
    font-weight: 300;
    color: $blue-500;
  }
  .basket{
    padding: .75rem;
    border-radius: 100px;
    box-shadow: 0 4px 4px #00000025;
  }
}
@media only screen and (max-width: 320px) {
  .welcome{
    margin-bottom: 1.25rem;
  }
}

.search{
  display: grid;
  grid-template-columns: 7fr 1fr;
  gap: .25rem;
  margin-bottom: 1.125rem;
  .form-search{
    display: flex;
    align-items: center;
    padding: 1.25rem 1.5rem;
    gap: 1rem;
    background: $gray-500;
    border-radius: 16px;
    span{
      color: $gray-400;
    }
    input{
      background: transparent;
      border: none;
      outline: none;
      color: $gray-600;
      font-size: .75rem;
    }
  }
  button{
    border: none;
    outline: none;
    background: #F7F7FC;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 320px) {
  .search{
    grid-template-columns: 5fr 1fr;
    .form-search{
      padding: 1.25rem 1rem;
      gap: .5rem;
    }
  }
}

.food-types{
  margin-bottom: 2.5rem;
  ul{
    display: flex;
    gap: .5rem;
    li{
      padding: .5rem 1rem;
      box-shadow: 0px 2px 1px #00000005, 0px 0px 1px #00000025;
      border-radius: 10px;
      font-size: .875rem;
      color: $black-100;
      &.fit{
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 530px) {
  .food-types{
    ul{
      li.fit{
          display: block;
        }
    }
  }
}

.combos{
  margin-bottom: 2.5rem;
  h5{
    padding-bottom: .475rem;
    margin-bottom: 1rem;
    color: $blue-500;
    font-weight: 300;
    &:after{
      @include detail-title(54px);
    }
  }
  .combo-items{
    display: flex;
    justify-content: space-around;
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem 1rem 1.25rem 1rem;
      gap: .8125rem;
      .favorite{
        font-size: 1rem;
        align-self: flex-end;
        margin-bottom: -1rem;
        color: $orange-300;
      }
      span{
        font-size: .75rem;
        color: $blue-500;
        font-weight: 500;
      }
      .add{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span{
          color: $orange-500;
          font-weight: 400;
          @include button-opacity-orange(#FFF2E7, 1rem, .375rem);
        }
      }
    }
  }
  @media only screen and (min-width: 480px) {
    .combo-items{
      justify-content: flex-start;
      gap: 1.5rem;
    }
  }
  @media only screen and (max-width: 320px) {
    .combo-items{
      .item{
        padding: 1rem .5rem .75rem .5rem;
        span{
          text-align: center;
        }
      }
    }
  }
}

.title-other-foods{
  ul{
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    li{
      font-weight: 300;
      &.item{
        color: $blue-100;
        opacity: .4;
      }
      &.special{
        color: $blue-500;
        opacity: 1;
        &:after{
          @include detail-title(35px);
        }
      }
    }
  }
}
  .foods{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    a{
      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem .5rem .75rem .5rem;
        gap: .625rem;
        height: 140px;
        justify-content: flex-end;
        position: relative;
        .favorite{
          font-size: 1rem;
          align-self: flex-end;
          margin-bottom: -1rem;
          color: $orange-300;
          position: absolute;
          top: 10px;
        }
        span{
          font-size: .75rem;
          color: $blue-500;
          font-weight: 500;
        }
        .add{
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          span{
            align-self: baseline;
            color: $orange-500;
            font-weight: 400;
            @include button-opacity-orange(#FFE3C9, 1rem, .375rem);
          }
        }
      }
      &:first-child{
        background: #FFFCF2;
        border-radius: 10px;
      }
      &:nth-child(2){
        background: #FEF4F4;
        border-radius: 10px;
      }
      &:last-child{
        background: #F1EFF6;
        border-radius: 10px;
      }
    }
  }

  @media only screen and (max-width: 320px) {
    a{
      .item{
        span{
          text-align: center;
        }
      }
    }
  }
 

  @media only screen and (min-width: 480px) {
    .foods{
      display: flex;
      gap: 1rem;
    }
  }

  @media only screen and (min-width: 720px) {
    .foods{
      gap: 1.5rem;
      a{
        .item{
          padding: 1.5rem 1.5rem .75rem 1.5rem;
          .favorite{
            top: 20px;
          }
        }
      }
    }
  }
